@charset "UTF-8";

html{
    font-size: 100%;
}

body{
    color: #333;
    font-size: 0.875rem;
    min-height: 100vh;
    position: relative;
}

div.button{
    margin-top: 30px;
    margin-bottom: 30px;
}

button#pointerEventsNone > span{
    pointer-events: none;
}